<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Loggers>
    <Root level="info">
	<AppenderRef ref="Console"/>
    </Root>
	<Root level="trace">
        <AppenderRef ref="File"/>
    </Root>
</Loggers>
<Properties>
	<Property filename="logs/arcade.log"></Property>
</Properties>
<Appenders>
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
	</Console>
	<File name="File" fileName="${sys:logFilename}">
		<Patternlayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></Patternlayout>
	</File>
</Appenders>
</Configuration>
