<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade_Daniel_version/src/edu/usc/softarch/arcade/PkgsWithSmellDetection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.PkgsWithSmellDetection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c &quot;F:\Recovered_files\chukwa\pkg\clusters&quot;&#13;&#10;-d &quot;F:\Recovered_files\chukwa\acdc\deps&quot;&#13;&#10;-s &quot;F:\Recovered_files\chukwa\pkg\ser&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade_Daniel_version"/>
</launchConfiguration>
